/* Codigo general compartido en todo el programa*/
body{
	margin: auto;
	background-color:rgb(247, 247, 247);
	font-family:'Lato', 'Noto Serif';
}
li{
	list-style: none;
}
a{
	color:rgb(191, 12, 240);
	text-decoration: underline dotted;
}
a:hover{
	color:rgb(0, 59, 74);
}
.right{
	text-align: right;
}
.left{
	text-align: left;
}
ul{
	padding:0;
}

/* Cabecera programa */
header{
	background-color:rgb(255, 255, 255);
	vertical-align: center;
	padding-left: 3vw;
	padding-right: 3vw;
	font-size: 1rem;
}
.cab{
  height:5rem;
  position: sticky;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.logo{
	height: 2.5rem;
}
.lis{
	display: inline;
	padding-right: 0.5rem;
}
.lis2{
	display: inline;
	padding-left: 0.5rem;
	border-left: 1px solid;
}
.hlin{
	color:rgb(0,59,74);
	text-decoration: none;
	font-weight:900;
}
.hlin:hover{
	color:rgb(191,12,240);
}
/* Pie de pagina */
footer{
	background-color: rgb(0, 59, 74);
	color:rgb(255,255,255);
	padding-left: 3vw;
	padding-right: 3vw;
	padding-top: 2vw;
	padding-bottom: 4vw;
}
.lis3{
	display: inline;
	padding-left: 0.5rem;
}
@media (min-width: 600px){
#pie{
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}
.right2{
  text-align: right;
}
.left2{
  text-align: left;
}
.lis1{
	display: inline;
	padding-right: 0.5rem;
}
.lis5{
	display: inline;
	padding-left: 0.5rem;
	border-left: 1px solid;
}
.lis4{
	display: inline;
	padding-left: 0.5rem;
	padding-right:0.5rem;
	border-left: 1px solid;
}
#pie2{
	font-size: 0.7rem;
}
}
@media (max-width: 600px){
#pie{
  text-align:center;
}
.left2{
	text-align:center;
}
.right2{
	text-align:center;
}
.lis1{
}
.lis5{
}
.lis4{
}
#pie2{
	font-size: 0.7rem;
}
}
.ilin{
	text-decoration: none;
}
.ilin:hover{
	opacity:0.7;
}
.elin{
	color:rgb(255,255,255);
	text-decoration: none;
}
.elin:hover{
	color:rgb(229,225,254);
}
/* Codigo para el cuerpo, parte común en todo el documento*/
@media (max-width: 600px){
	main{
		padding-left: 2vw;
		padding-right: 2vw;
	}
}
main{
	font-size:1.5rem;
}

/*Codigo para la parte index.html*/
.speHead{
	background-color:rgb(247, 247, 247);
}
.titulo{
	background-image:url("images/hero-image-home.jpg");
	background-repeat: no-repeat;
	background-size:100% 100%;
	padding-left:15vw;
	padding-right:40vw;
	padding-top:10vw;
	padding-bottom:10vw;
}
h1.FW900{
	font-weight:900;
	font-size:4.5rem;
}
@media (min-width: 600px){
.formulario{
	padding-right:15vw;
	padding-left:15vw;
	padding-top:3vw;
	padding-bottom:3vw;
}
.grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap:5vw;
}
}
