/* Codigo general compartido en todo el programa*/
body{
	margin: auto;
	background-color:rgb(247, 247, 247);
	font-family:'Lato', 'Noto Serif';
}
li{
	list-style: none;
}
a{
	color:rgb(191, 12, 240);
	text-decoration: underline dotted;
}
a:hover{
	color:rgb(0, 59, 74);
}
/* Cabecera programa */
header{
	vertical-align: center;
	padding-left: 5%;
	padding-right: 5%;
	font-size: 1rem;
}
.cab{
	height:10%;
	position: sticky;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}
.logo{
	height: 5vh;
}
.menu{
	text-align: right;
}
.lis{
	display: inline;
	padding-left: 1rem;
}
.hlin{
	color:rgb(0,59,74);
	text-decoration: none;
	font-weight:900;
}
.hlin:hover{
	color:rgb(191,12,240);
}
/* Pie de pagina */
footer{
	background-color: rgb(0,0,0);
	height:10%;
}
.pie{
	margin-left: 5%;
	margin-right: 5%;
}
